<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="credit" class="in.shubham.beans.CreditCardPayment" />
	<bean id="debit" class="in.shubham.beans.DebitCardPayment" />
	<bean id="payment" class="in.shubham.beans.PaymentService">
	
	<!-- constructor injection
	<constructor-arg name="payment" ref="credit" />
	 -->
	 
	<!--  setter injection -->
	 
	<property name="payment" ref="debit" />
	
</bean>

</beans>